

/* d'internetWhen box-sizing:border-box is assinged to the box,
padding and borders 
are included in the width and height dimensions. */

html, 
body {
    height: 100%;
}

*,*::before, *::after{
    box-sizing: inherit;
}

/*################################*/


/*variables de color*/
:root {
    --gris_fons:rgb(55, 76, 97);
    --color_botons_op_complexes: white;
    --color_botons_op_basiques: white;
    --color_fons_botons_op_basiques: rgb(156, 153, 153);
    --color_fons_botons_op_complexes: hsl(248, 9%, 17%); 
    --color_fons_pantalla: rgb(94, 123, 129);
}


h1 {text-align: center;}


#pantalla {
    border-width: 2px;
    background-color: var(--color_fons_pantalla);
    margin-top:120px; 
    margin-right:20px;
    margin-left:20px;
}




#pantalla p {
    font-size: 40px;
    text-align: center;
}


#calculadora {
    background-color: var(--gris_fons);
    border-radius: 7px;
    margin: auto;
    padding:13px;
    width:300px;
    height:570px;
}

#calculadora:hover {
    transform: scale(1.01, 1.01);
    transition-duration: 0.3s;
    transition-
}

button {
    border-radius: 2px;
    border-width: 1px;
}



#op_complexes {
    margin-top: 10px;
    display: inline-grid;
    padding-left: 10px;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    grid-gap: 9px;
}

#op_complexes button {
    font-size: 9px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top:2px;
    color:var(--color_botons_op_complexes);
    background-color: var(--color_fons_botons_op_complexes);
    width: 25px;
    height:20px;
}




#numeros_op_basiques {
    margin-top:22px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    margin-right:9px;
    margin-left:9px;
}

#numeros_op_basiques button {
    font-size:20px;
    color:var(--color_botons_op_basiques);
    font-family: 'Times New Roman', Times, serif;
    width: 60%;
    padding-bottom:3px;
    padding-top:3px;
    margin-top:10px;
}




/*definim colors dels botons, i la propietat
hover per fer que canviin de color quan hi passem*/
.boto_gris {
    background-color: var(--color_fons_botons_op_basiques);
    opacity:0.8;
}
.boto_vermell {
    background-color: rgb(187, 72, 96);
    opacity:0.8;
}
.boto_vermell:hover{
    background-color: rgb(255, 123, 0);
    opacity:1;
    transition: 0.5s;
    transform: scale(1.1, 1.1);
}
.boto_gris:hover{
    background-color: rgb(54, 150, 163);
    opacity:1;
    transition:0.5s;
}

#calculadora #op_complexes button:hover {
    background-color: rgb(99, 151, 31);
    transition:0.5s;
    transform: scale(1.1, 1.1);
}



/*Animacions de clicat (que s'enfonsi el boto i redueixi
tamany en un vint per cent*/
.boto_gris:active {transform: scale(0.9,0.9);}
.boto_vermell:active {transform: scale(0.9,0.9);}
#calculadora #op_complexes button:active {transform: scale(0.9,0.9);}